@import url("https://use.typekit.net/ghy7xhe.css");
@import url("/fonts/gliker/stylesheet.css");

@import "tailwindcss";

@theme {
  --color-maroon: #500311;
  --color-blue: #3fa9f5;
  --color-orange: #ff702d;
  --color-yellow: #ffc64a;
  --color-light-yellow: #fff5d1;
  --color-black: #1b1b1b;
  --color-background: #fffaf4;

  --font-gliker: "Gliker", sans-serif;
  --font-sofia: sofia-pro, sans-serif;
}

@utility btn {
  @apply px-6 py-2 rounded-full transition-transform active:scale-95;
  background-color: var(--color-orange);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-maroon);
  }
}

:root {
  font-family: var(--font-sofia);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-black);
}

h1 {
  font-family: var(--font-gliker);
}
